.header {
  height: 400px;
  width: 80%;
  padding: 30px;
  margin: auto;
  background-color: #797d7f;
}
.outer {
  padding: 30px 0px;
}
.rsize {
  position: relative;
  left: 00px;
  top: 150px;
  margin: 0px 80px 00px 80px;
  height: 200px;
  width: 300px;
}
.box {
  /* position: relative; */
  width: 100%;
  height: 100%;
}

.boxhidden {
  display: none;
}
.btnn {
  position: absolute;
  /* float: right; */
  top: 70%;
  left: 83%;
}
.table {
  margin: 50px;
}

.custom {
  margin: 5px;
  width: 78px;
}
.m {
  margin: 0px;
}
.modal {
  width: 75%;
  height: 75%;
  background-color: yellowgreen
}
.form{
  top:500px;
  background-color: yellow
}
